@model IEnumerable<Gradnik_Data.Models.Dokumentacija>

@{
    Layout = null;
}
<hr />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xs-3">
            <div class="card">
                <img class="card-img-top" src="~/Assets/signing-the-contract.png" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">@item.Naziv</h4>
                    <p class="card-text">@item.Opis</p>
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Preuzmi", "DownLoadFile", new { id = item.Id }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Obrisi", "ObrisiDokument", new { id = item.Id }, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    }
</div>
