@model IEnumerable<Gradnik_Web.Models.StanjeSkladistaDto>

<table class="table table-striped" id="skladisteTable">
    <thead>
        <tr>
            <th>Skladiste</th>
            <th>Materijal</th>
            <th>Dostupno</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>@item.Skladiste</td>
                <td>@item.Materijal</td>
                <td>@item.Dostupno</td>
            </tr>
        }

    </tbody>
    <tfoot>
        <tr>
            <th>Skladiste</th>
            <th>Materijal</th>
            <th>Dostupno</th>
        </tr>
    </tfoot>
</table>


<script>
    $(document).ready(function () {
        var table = $('#skladisteTable').DataTable();
    });
</script>