@model IEnumerable<SelectListItem>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.Label("Odaberi gradiliste:")
                @Html.DropDownList("gradilistaList", Model, new { @class = "form-control" })
            </div>
            <div id="potrosnja"></div>
        </div>
        <div class="col-md-12">
            <div id="brojRadnika">

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        GetGraph();
        $("#gradilistaList").change(function () {
            GetGraph();
        });
    });
    
    function GetGraph() {
        $.ajax({
            type: "GET",
            url: "/ModulSefGradilista/Home/PotrosnjaPoGradilistu",
            data: {
                "id": $("#gradilistaList").val(),
            },
            success: function (data) {
                Highcharts.chart('potrosnja', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Kolicina potrosnje po materijalu'
                    },
                    yAxis: {
                        min: 0,
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: data
                });
            }
        });

    $.ajax({
        type: "GET",
        url: "/ModulSefGradilista/Home/BrojRadnikaByTipPosla",
        data: {
            "id": $("#gradilistaList").val(),
        },
        success: function (data) {
            Highcharts.chart('brojRadnika', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Raspodjela poslova po gradilistu'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Poslovi',
                    colorByPoint: true,
                    data: data
                }]
            });
        }
    });
    }

    
</script>