<li>
    <a href="/ModulAdmin/Korisnici">
        <i class="fas fa-user"></i> Korisnici
    </a>
</li>
<li>
    <a href="/ModulAdmin/Dobavljaci">
        <i class="fas fa-truck-pickup"></i> Dobavljaci
    </a>
</li>
<li>
    <a href="/ModulAdmin/Materijali/Index">
        <i class="fas fa-screwdriver"></i> Materijal
    </a>
</li>