<li>
    <a href="layout-api.html">
        <img src="~/Img/user.png" width="22" />
        <span class="title">Korisnici</span>
    </a>
    <ul>
        <li>
            <a href="~/ModulAdmin/Korisnici/Index">
                <span class="title">Lista registrovanih</span>
            </a>
        </li>
        <li>
            <a href="~/ModulAdmin/Korisnici/Dodaj">
                <span class="title">Registruj novog</span>
            </a>
        </li>

    </ul>
</li>

<li>
    <a href="~/CommunityModul/Community/Index">
        <img src="~/Img/supplier.png" width="22" />
        <span class="title"> Dobavljači</span>
    </a>
    <ul>
        <li>
            <a href="~/ModulAdmin/Dobavljaci/Index">
                <span class="title">Lista dobavljača</span>
            </a>
        </li>
        <li>
            <a href="~/ModulAdmin/Dobavljaci/Dodaj">
                <span class="title">Dodaj novi</span>
            </a>
        </li>

    </ul>
</li>


<li>
    <a href="~/KorisnikModul/Konkurs/Index">
        <img src="~/Img/mat.png" width="22" />
        <span class="title"> Materijali</span>
    </a>
    <ul>
        <li>
            <a href="~/ModulAdmin/Materijali/Index">
                <span class="title">Lista materijala</span>
            </a>
        </li>
        <li>
            <a href="~/ModulAdmin/Materijali/Dodaj">
                <span class="title">Dodaj novi</span>
            </a>
        </li>

    </ul>
</li>
