<li>
    <a href="/ModulEngineering/Projekti/Index">
        <i class="fas fa-project-diagram"></i> Projekti
    </a>
</li>
<li>
    <a href="/ModulEngineering/Skladiste/Index">
        <i class="fas fa-archive"></i> Pregled stanja skladista
    </a>
</li>