<li>
    <a href="/ModulDirektor/Home/Index">
        <i class="fas fa-envelope-open-text"></i> Pocetna
    </a>
</li>
<li>
    <a href="/ModulDirektor/Radnici/Index">
        <i class="fas fa-user"></i> Radnici
    </a>
</li>
<li>
    <a href="/ModulDirektor/Projekti/Aktivni">
        <i class="far fa-bookmark"></i> Lista projekata
    </a>
</li>
<li>
    <a href="/ModulDirektor/Projekti/Dodaj">
        <i class="far fa-bookmark"></i> Dodaj projekat
    </a>
</li>