<li>
    <a href="/ModulDirektor/Home/Index">
        <i class="fas fa-home"></i> Pocetna
    </a>
</li>
<li>
    <a href="/ModulDirektor/Radnici/Index">
        <i class="fas fa-user"></i> Radnici
    </a>
</li>
<li>
    <a href="/ModulDirektor/Projekti/Aktivni">
        <i class="fas fa-project-diagram"></i> Lista projekata
    </a>
</li>
<li>
    <a href="/ModulDirektor/Projekti/Dodaj">
        <i class="fas fa-project-diagram"></i> Dodaj projekat
    </a>
</li>