<li>
    <a href="layout-api.html">
        <img src="~/Img/user.png" width="22" />
        <span class="title">Zaposlenici</span>
    </a>
    <ul>
        <li>
            <a href="~/ModulDirektor/Radnici/Add">
                <span class="title">Novi unos</span>
            </a>
        </li>
        <li>
            <a href="~/ModulDirektor/Radnici">
                <span class="title">Lista zaposlenika</span>
            </a>
        </li>      

    </ul>
   
</li>

<li>
    <a href="layout-api.html">
        <img src="~/Img/user.png" width="22" />
        <span class="title">Projekti</span>
    </a>
    <ul>
        <li>
            <a href="~/ModulDirektor/Projekti/Dodaj">
                <span class="title">Kreiraj novi</span>
            </a>
        </li>
        <li>
            <a href="~/ModulDirektor/Radnici">
                <span class="title">Aktivni</span>
            </a>
        </li>
        <li>
            <a href="~/ModulDirektor/Radnici">
                <span class="title">Realizovani</span>
            </a>
        </li>

    </ul>
</li>