<li>
    <a href="layout-api.html">
        <img src="~/Img/user.png" width="22" />
        <span class="title">Projekti</span>
    </a>
    <ul>
        <li>
            <a href="~/ModulEngineering/Projekti/Index">
                <span class="title">Aktivni</span>
            </a>
        </li>
        <li>
            <a href="~/ModulDirektor/Projekti/Realizovani">
                <span class="title">Realizovani</span>
            </a>
        </li>

    </ul>
</li>
