<li>
    <a href="layout-api.html">
        <img src="~/Img/user.png" width="22" />
        <span class="title">Ulazne fakture</span>
    </a>
    <ul>
        <li>
            <a href="~/ModulReferent/UlazneFakture/Index">
                <span class="title">Prikaz</span>
            </a>
        </li>
        <li>
            <a href="~/ModulReferent/UlazneFakture/Dodaj">
                <span class="title">Kreiraj novu</span>
            </a>
        </li>

    </ul>
</li>

<li>
    <a href="~/CommunityModul/Community/Index">
        <img src="~/Img/supplier.png" width="22" />
        <span class="title">Izlazne fakture</span>
    </a>
    <ul>
        <li>
            <a href="~/ModulAdmin/Dobavljaci/Index">
                <span class="title">Prikaz</span>
            </a>
        </li>
        <li>
            <a href="~/ModulAdmin/Dobavljaci/Dodaj">
                <span class="title">Kreiraj novu</span>
            </a>
        </li>

    </ul>
</li>


<li>
    <a href="~/KorisnikModul/Konkurs/Index">
        <img src="~/Img/mat.png" width="22" />
        <span class="title">Platne liste</span>
    </a>
    <ul>
        <li>
            <a href="~/ModulAdmin/Materijali/Index">
                <span class="title">Historija</span>
            </a>
        </li>
        <li>
            <a href="~/ModulAdmin/Materijali/Dodaj">
                <span class="title">Kreiraj novu</span>
            </a>
        </li>

    </ul>
</li>

