<li>
    <a href="/ModulReferent/Home/Index">
        <i class="fas fa-envelope-open-text"></i> Pocetna
    </a>
</li>
<li>
    <a href="/ModulReferent/Narudzba/AktivneNarudzbe">
        <i class="fas fa-folder-plus"></i> Aktivne Narudzbe
    </a>
</li>
<li>
    <a href="/ModulReferent/IzlazneFakture/Index">
        <i class="fas fa-sign-out-alt"></i> Izlazne Fakture
    </a>
</li>
<li>
    <a href="/ModulReferent/UlazneFakture/Index">
        <i class="far fa-arrow-alt-circle-left"></i> Ulazne Fakture
    </a>
</li>