<li>
    <a href="/ModulSefGradilista/Narudzbe/Index">
        <i class="fas fa-envelope-open-text"></i> Dodaj Narudzbu
    </a>
</li>
<li>
    <a href="/ModulSefGradilista/Gradiliste/Index">
        <i class="fas fa-briefcase"></i> Evidencija Gradilista
    </a>
</li>
<li>
    <a href="/ModulReferent/UlazneFakture/Index">
        <i class="fas fa-envelope-open-text"></i>  Procesirane narudzbe
    </a>
</li>