<li>
    <a href="/ModulSefGradilista/Home/Index">
        <i class="fas fa-home"></i> Pocetna
    </a>
</li>
<li>
    <a href="/ModulSefGradilista/Narudzbe/Index">
        <i class="fas fa-envelope-open-text"></i> Dodaj Narudzbu
    </a>
</li>
<li>
    <a href="/ModulSefGradilista/Gradiliste/Index">
        <i class="fas fa-building"></i> Evidencija Gradilista
    </a>
</li>
<li>
    <a href="/ModulSefGradilista/Narudzbe/Procesirane">
        <i class="fas fa-envelope-open-text"></i>  Procesirane narudzbe
    </a>
</li>
<li>
    <a href="/ModulSefGradilista/Skladiste/Index">
        <i class="fas fa-archive"></i>  Pregled stanja skladista
    </a>
</li>