<li>
    <a href="/ModulAdmin/Korisnici">
        <i class="fa glyphicon-user"></i> Gradilista
    </a>
</li>
<li>
    <a href="/ModulAdmin/Dobavljaci">
        <i class="fa glyphicon-move fa-lg"></i> Narudzba
    </a>
</li>
<li>
    <a href="/ModulAdmin/Materijal">
        <i class="fa glyphicon-move fa-lg"></i> Projekti
    </a>
</li>