<div class="row">
    <div class="col-xs-12">
        @using (Ajax.BeginForm("SpremiIzvjestaj", new AjaxOptions { UpdateTargetId = "updateIzvjestaj" }))
        {
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Unesite izvjestaj</label>
                <textarea class="form-control" name="Izvjestaj" rows="3"></textarea>
                <input type="hidden" name="GradilisteId" value="@ViewBag.GradilisteId" />
            </div>
            <input type="submit" name="Spremi" value="Spremi" class="btn btn-success"/>
        }
    </div>
</div>
<div id="updateIzvjestaj">
    @Html.Action("_Spremljeni", new { id = ViewBag.GradilisteId })
</div>
<style>
    .thumbnail {
        padding: 0px;
    }

    .panel {
        position: relative;
    }

        .panel > .panel-heading:after, .panel > .panel-heading:before {
            position: absolute;
            top: 11px;
            left: -16px;
            right: 100%;
            width: 0;
            height: 0;
            display: block;
            content: " ";
            border-color: transparent;
            border-style: solid solid outset;
            pointer-events: none;
        }

        .panel > .panel-heading:after {
            border-width: 7px;
            border-right-color: #f7f7f7;
            margin-top: 1px;
            margin-left: 2px;
        }

        .panel > .panel-heading:before {
            border-right-color: #ddd;
            border-width: 8px;
        }
</style>